.contact-us {
    width: 60vw !important;
    .ant-modal-content {
        border-radius: 15px;
        background: #34333a;
        .ant-modal-close-x {
            width: 100px;
            font-size: 30px;
            color: #fff;
            padding-top: 15px;
        }
    }
    .ant-modal-body {
        height: 60vh;
        padding: unset;
    }
    .contact-us-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: flex-end;
        .form-input-container {
            display: flex;
            flex-direction: column;
            .contact-header {
                text-align: center;
                font-size: 50px;
                line-height: 1.14;
                color: #fff;
                margin-bottom: 45px;
            }

            .form {
                width: 100%;
                flex-wrap: wrap;
                display: flex;
                margin: 0 auto;
                color: #fff;
                .label {
                    opacity: 0.75;
                    font-size: 15px;
                    margin-bottom: 15px;
                }
                .contact-input {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    margin-bottom: 45px;
                    .form-input {
                        border: none;
                        border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
                        width: 80%;
                        background: transparent;
                    }
                }
            }
            .form-footer {
                font-family: MontserratSemibold;
                font-size: 16px;
                font-weight: 600;
                margin: 0 auto;
                width: 150px;
                align-items: center;
                text-align: center;
                padding: 10px;
                border-radius: 20px;
                background-color: #33b7c9;
                color: #ffffff;
                margin-top: 45px;
                cursor: pointer;
            }
        }
        .contact-footer {
            display: flex;
            justify-content: space-between;
            width: 50%;
            color: #fff;
            font-size: 18px;
            margin-top: 45px;
            margin-bottom: 15px;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .contact-us {
        .contact-us-body {
            .contact-footer {
                width: 60%;
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .contact-us {
        .contact-us-body {
            .form-input-container {
                .form {
                    width: 90%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1344px) {
    .contact-us {
        .contact-us-body {
            .contact-footer {
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .contact-us {
        width: 90vw !important;
    }
}

@media only screen and (max-width: 800px) {
    .contact-us {
        .contact-us-body {
            .contact-footer {
                width: 80%;
            }
        }
    }
}
@media only screen and (max-width: 415px) {
    .contact-us {
        .ant-modal-body {
            height: 65vh;
        }
        .contact-us-body {
            .form-input-container {
                width: 100%;
                .contact-header{
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                .form {
                    width: 90%;
                    flex-direction: column;
                    .contact-input {
                        width: 100%;
                        margin-bottom: 15px;
                        .form-input {
                            width: 100%;
                        }
                    }
                }
                .form-footer {
                    margin: 20px auto 0;
                }
            }
            .contact-footer {
                width: 95%;
                font-size: 12px;
                margin: 30px 0;
            }
        }
    }
}
@media only screen and (max-width: 375px){
    .contact-us{
        width: 100vw !important;
        .contact-us-body{
            .contact-footer{
                width: 98%;
                font-size: 11px;
            }
        }
    }

}