.modal-conatiner {
    width: 100vw !important;
    top: 0px !important;
    .ant-modal-header {
        border-bottom: unset;
        background-color: unset;
        .ant-modal-title {
            width: 100px;
        }
    }
    
    .ant-modal-content {
        height: 100vh;
        background-color: #363636;
        .ant-modal-close-x {
            width: 100px;
            font-size: 30px;
            color: #fff;
            line-height: 70px;
        }
    }
    .ant-modal-body {
        padding: unset;
        display: flex;
        font-size: 20px;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        color: #fff;
        .modal-city-container {
            text-align: center;
            margin-bottom: 5vh;
            border-bottom: 1px solid #e6e6e6;
            width: 80%;
            .city {
                margin-bottom: 2vh;
            }
        }
        .modal-body-container {
            margin-bottom: 5vh;
            border-bottom: 1px solid #e6e6e6;
            width: 80%;
            text-align: center;
            .header-content-tab {
                margin-bottom: 2vh;
            }
        }

        .language-container {
            border-bottom: 1px solid #e6e6e6;
            width: 80%;
            color: #fff !important;
            .lng-container {
                text-align: center;
                p {
                    margin-bottom: 2vh !important;
                    cursor: pointer;
                }
            }
        }
    }
    .header-modal-social-icons-conatiner {
        .social-container {
            margin-bottom: 5vh;
            display: flex;
            .icon-container {
                width: 30px !important;
                height: 30px !important;
                margin: 0 5px;
            }
        }
    }
    .header-modal-footer {
        display: flex !important;
        flex-direction: column;
        padding: 20px 0;
        width: 100%;
    }
    .footer-container {
        margin-top: unset !important;
        background: unset;
    }
}
.ant-modal-wrap {
    overflow: hidden !important;
}

@media only screen and (max-width: 1280px) {
    .modal-conatiner {
        .social-container {
            display: flex;
        }
    }
}

@media only screen and (max-width: 800px) {
    .modal-conatiner {
        max-width: calc(100vw-0px) !important;
        margin: unset !important;
    }
}
