.static {
  position: absolute;
  right: 0vw;
  top: 35vh;
  z-index: 999;
  .icon-container {
    margin: 3vw;
    transition: .2s;
  }
  .icon-container:hover {
    color: #33b7c9 !important;
  }
}
@media screen and (max-width: 800px) {
  .social-container {
    display: none;
  }
}