.modal-container-antd {
    width: 410px !important;
    .ant-modal-content {
        border-radius: 15px;
        height: 340px;
        background: #34333a;
    }
    .modal-register {
        display: flex;
        flex-direction: column;
        align-items: center;
        .modal-img {
            width: 76px;
            height: 76px;
        }
        .modal-text {
            font-size: 30px;
            font-weight: 600;
            color: #fff;
        }
        .text {
            font-size: 18px;
            margin: 20px;
            text-align: center;
            color: #fff;
        }
        .modal-button {
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #33b7c9;
            border-radius: 20px;
            color: #fff;
            height: 40px;
            margin-top: 10px;
            font-size: 16px;
            padding: 10px;
            cursor: pointer;
        }
    }
}
