.cartpage-tours-header-container {
  width: 90%;
  margin: 0 auto;
  .cartpage-tours-header {
    font-size: 20px;
    // padding: 20px 15px 40px;
    color: #343340;
  }
  .cartpage-content-header {
    // padding: 0px 15px;
    font-size: 25px;
    color: #33b7c9;
  }
}

@media only screen and (max-width: 800px) {
  .cartpage-tours-header-container {
    padding: unset;
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  .cartpage-tours-header-container {
        .cartpage-tours-header {
      font-size: 16px;
      }
    .cartpage-content-header {
     
      font-size: 20px;
      
    }
  }
}