.about-page {
    .about-header {
        text-align: center;
        font-family: "MontSerratSemiBold";
        font-size: 28px;
        font-weight: 700;
        line-height: 1.21;
        letter-spacing: 0.56px;
        color: #33b7c9;
        padding: 50px 0;
    }
    .about-carousel {
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
        .ant-carousel {
            width: 50%;
            font-size: 14px;
            color: #343340;

            line-height: 2.2;
            font-family: "MontserratMedium";
        }
        .carousel {
            display: flex;
            align-items: center;
            height: 49vh;
            .carousel-text {
                width: 80% !important;
            }
        }
    }
}
.privacy-container {
    width: 80%;
    margin: 0 auto;
    padding: 120px 0;
    .privacy-item {
        margin-bottom: 25px;
        .item-title {
            font-size: 16px;
            color: #000;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .about-page .about-carousel .carousel {
        height: unset;
    }
}
@media only screen and (max-width: 800px) {
    .about-page {
        .about-carousel {
            flex-direction: column;
            .titles-container {
                .eye-slider-container {
                    width: unset;
                }
            }
            .ant-carousel {
                width: 100%;
            }
            .carousel .carousel-text {
                width: unset !important ;
                margin-top: 5vh;
            }
        }
    }
}

@media only screen and (max-width: 415px) {
    .about-page {
        .about-carousel {
            .ant-carousel {
                width: 100%;
                margin-top: 5vh;
            }
            .carousel {
                height: unset;
                .carousel-text{
                    margin-top: unset;
                }
            }
        }
    }
}
