.categories-container {
    .categories-content {
        .category-container {
            width: 560px;
            height: 560px;
            border-radius: 10px;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .categories-container {
        .categories-content {
            .category-container {
                width: 475px;
                height: 475px;
            }
        }
    }
}
@media only screen and (max-width: 1440px) {
    .categories-container {
        .categories-content {
            .category-container {
                width: 425px;
                height: 425px;
            }
        }
    }
}
@media only screen and (max-width: 1366px) {
    .categories-container {
        .categories-content {
            .category-container {
                width: 410px;
            }
        }
    }
}
@media only screen and (max-width: 1280px) {
    .categories-container {
        .categories-content {
            .category-container {
                width: 375px;
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    .categories-container {
        .categories-content {
            .category-container {
                width: 425px;
            }
        }
    }
}
@media only screen and (max-width: 800px) {
    .categories-container {
        display: unset;
        .categories-content {
          
            .category-container {
                width: 480px;
                height: 480px;
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (max-width: 415px) {
    .categories-container {
     
        .categories-content {
          
            .category-container {
                width: 350px;
                height: 350px;
            }
        }
    }
}
