.categories-container {
  .categories-content {
    // width: 33%;
    .category-container{
        width: 560px;
        height: 560px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .categories-container {
    display: unset;
    .categories-content {
      width: 100%;
      .category-container {
        margin-bottom: 20px;
      }
    }
  }
}
